@font-face {
    font-family: Biko;
    font-weight: bold;
    src: url("../font/Biko_Bold.otf") format("opentype");
}
@font-face {
    font-family: Biko-Regular;
    font-weight: normal;
    src: url("../font/Biko_Bold.otf") format("opentype");
}
@font-face {
    font-family: Biko-Black;
    src: url("../font/Biko_Black.otf") format("opentype");
}