@font-face {
  font-family: Biko;
  font-weight: bold;
  src: url("../font/Biko_Bold.otf") format("opentype");
}

@font-face {
  font-family: Biko-Regular;
  font-weight: normal;
  src: url("../font/Biko_Bold.otf") format("opentype");
}

@font-face {
  font-family: Biko-Black;
  src: url("../font/Biko_Black.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 600px;
  background: url("../images/Background Shape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #0864B1;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 80px;
}

header .menu .logo {
  padding-left: 100px;
}

header .menu .logo a {
  text-decoration: none;
  color: #fff;
  font-family: Biko;
  font-size: 26px;
}

header .menu .menu-items {
  padding-right: 120px;
}

header .menu .menu-items a {
  color: #fff;
  text-decoration: none;
  padding-right: 30px;
  font-family: Biko-Regular;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 520px;
}

header .header-content .header-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 520px;
  padding-left: 80px;
}

header .header-content .header-content-left span {
  font-size: 42px;
  font-family: Biko-Black;
  line-height: 70px;
}

header .header-content .header-content-left p {
  width: 70%;
  line-height: 32px;
  font-family: Biko-Regular;
  color: #fff;
}

header .header-content .header-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 520px;
  padding-right: 120px;
}

header .header-content .header-content-right img {
  width: 360px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 520px;
}

.about .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.about .about-title h2 {
  border-bottom: 2px solid gray;
  padding-bottom: 8px;
  color: #0864B1;
}

.about .about-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  margin-top: -50px;
}

.about .about-paragraph p {
  text-align: center;
  line-height: 40px;
  width: 40%;
  color: #696969;
}

.about .about-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 120px;
  margin-top: -20px;
}

.about .about-choice .choice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  height: 120px;
}

.about .about-choice .choice-box #box-1 {
  content: "";
  position: relative;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;
  height: 60px;
  border-right: 1px solid gray;
  z-index: 1;
}

.about .about-choice .choice-box #box-2 {
  content: "";
  position: relative;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;
  height: 60px;
  border-right: 1px solid gray;
  z-index: 1;
}

.about .about-choice .choice-box #box-3 {
  content: "";
  position: relative;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;
  height: 60px;
  border-right: 1px solid gray;
  z-index: 1;
}

.about .about-choice .choice-box #box-4 {
  content: "";
  position: relative;
  bottom: 0;
  top: 20%;
  left: 0;
  right: 0;
  height: 60px;
  border-right: 1px solid transparent;
  z-index: 1;
}

.about .about-choice .choice-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22%;
  height: 120px;
}

.about .about-choice .choice-box .box p {
  text-align: center;
  color: #696969;
}

.about .about-choice .choice-box .box p span {
  font-size: 36px;
  font-weight: bold;
  color: #0864B1;
}
/*# sourceMappingURL=style.css.map */